{% extends 'baseAdmin.html.twig' %}

{% block title %}New Video{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Nouvelle Video</h1>
                </div> 
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Ajouter Video</li>
                    </ol>
                </div> 
            </div> 
        </div> 
    </div>
    <section class="content">
        <div class="container-fluid">
                {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-6 mx-auto">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Ajouter Video</h3>
                            </div>
                            <form>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="name">Url Youtube</label>
                                    {{form_widget(form.url)}}
                                </div>
                                <div class="form-group">
                                    <label for="File">Ajouter Couvert</label>
                                    {{form_widget(form.couvert)}}
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
                            </div>
                            </form>
                        </div>
                    </div>
                {{ form_end(form) }}
        </div> 
    </section>
{% endblock %}
